@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Gustavo";
	font-weight: 500;
	src: url("./assets/fonts/gustavo_trial/Gustavo_trial-Medium.otf") format("opentype");
}
@font-face {
	font-family: "Gustavo";
	font-weight: 400;
	src: url("./assets/fonts/gustavo_trial/Gustavo_trial-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Gustavo";
	font-weight: 300;
	src: url("./assets/fonts/gustavo_trial/Gustavo_trial-Light.otf") format("opentype");
}
@font-face {
	font-family: "Gustavo";
	font-weight: 200;
	src: url("./assets/fonts/gustavo_trial/Gustavo_trial-Thin.otf") format("opentype");
}
@font-face {
	font-family: "Tartuffo";
	font-weight: 700;
	src: url("./assets/fonts/Tartuffo_trial/Tartuffo_Trial-Bold.otf") format("opentype");
}
@font-face {
	font-family: "Tartuffo";
	font-weight: 500;
	src: url("./assets/fonts/Tartuffo_trial/Tartuffo_Trial-Medium.otf") format("opentype");
}
@font-face {
	font-family: "Tartuffo";
	font-weight: 400;
	src: url("./assets/fonts/Tartuffo_trial/Tartuffo_Trial-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Tartuffo";
	font-weight: 300;
	src: url("./assets/fonts/Tartuffo_trial/Tartuffo_Trial-Light.otf") format("opentype");
}
@font-face {
	font-family: "Tartuffo";
	font-weight: 200;
	src: url("./assets/fonts/Tartuffo_trial/Tartuffo_Trial-Thin.otf") format("opentype");
}

:root {
	background-color: #faf6f3;
}

* {
	font-family: "Gustavo";
	font-weight: 400;
	color: #816a6c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Tartuffo";
	color: #5d4043;
}
